<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isaiah.rattlerbees">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rattlerbees">
        <activity android:name=".activities.AdminPortal.DisplayUsers"></activity>
        <activity android:name=".activities.CustomerPortal.UserPortal" />
        <activity android:name=".activities.EmployeePortal.EmployeePortal" />
        <activity android:name=".activities.AdminPortal.AdminPortal" />
        <activity android:name=".activities.Login.RegisterActivity" />
        <activity android:name=".activities.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>